# dependencies
node_modules/

# production
dist/

# misc
.DS_Store
.env.local
.env.*.local

# system files
.bash_history
.lesshst
.node_repl_history
.viminfo
*.swp
*.lock

# IDE and editor settings
.vscode/
*.code-workspace

# macOS
*.DS_Store

# Windows
Thumbs.db

# Codeium or plugin state files
codeium_chat_state_*
onboarding.json
installation_id
user_settings.pb
